body {
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    color: #434455;
    background-color: #fff;
    letter-spacing: 0.02em;
}

h1 {
    font-weight: 700;
    font-size: 56px;
    color: #ffffff;
    line-height: 1.07;
    text-align: center;
}

h2 {
    font-weight: 700;
    font-size: 36px;
    ;
}

h3 {
    font-weight: 500;
    font-size: 20px;
    ;
}

.hero, .footer {
    background-color: #2E2F42;
}

ul {
    list-style-type: none;
}