.footer .logo {
    font-weight: 700;
    font-size: 18px;
    line-height: 1.3;
    letter-spacing: 0.03em;
    text-transform: uppercase;
}

.footer p {
    color: #F4F4FD;
}

.footer-logo-accent {
    color: #4D5AE5
}

.footer-logo-second {
    color: #F4F4FD;
}